@model Category

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-4">
            <h2 class=" text-primary"> Category List</h2>
            <hr/>
        </div>
        <div class="mb-4">
            <label asp-for="Name"></label>
        </div>
    </div>
    
</form>
